<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../css/signup.css">
    
    <title>Sign up</title>
</head>
<body>
    <div id="main">
	    <form method="get" id="demoForm" action="">
		<p>
			<label>Username</label>
			<input name="user" type="text" />
		</p>
		<p>
			<label>Password</label>
			<input id="password" type="password" name="password" />
		</p>
		<p>
			<label>Re-Password</label>
			<input id="re-password" type="password" name="re-password" />
		</p>
		<p>
		<input type="submit" value="Register" id="register"/>
		</p>
	    </form>
	</div>
    <script>
        $(document).ready(function() {
	$("#demoForm").validate({
		onfocusout: false,
		onkeyup: false,
		onclick: false,
		rules: {
			"user": {
				required: true,
				maxlength: 15
			},
			"password": {
				required: true,
				minlength: 8
			},
			"re-password": {
				equalTo: "#password",
				minlength: 8
			}
		}
	});
});
    </script>
</body>
</html>